body {
    font-family: 'Red Hat Text', sans-serif;
    min-height: 100vh;
    /* display: flex;    
    flex-direction: column; */
    display: grid;
    place-items: center;
    color: var(--White);
    /* background-color: var(--mostly-black-blue); */
    /* background-image: url('../images/bg-stars.svg'),
                      url('../images/pattern-hills.svg'); */

    /* background: url('../images/bg-stars.svg') center center no-repeat, 
                url('../images/pattern-hills.svg') right bottom no-repeat,
                var(--mostly-black-blue);
                background-size: cover cover; */

    background-image: url('../images/pattern-hills.svg'), 
                      url('../images/bg-stars.svg'), 
                      linear-gradient(to bottom, 
                            var(--mostly-black-blue), 
                            var(--Very-dark-blue),
                            hsl(271, 23%, 18%, 1));
    background-repeat: no-repeat, no-repeat;
    background-position: 87% 95%, top;
    background-size: 250%, auto, auto;
}

main {
    display: grid;
    place-items: center;
    margin: 0 1rem;
    text-transform: uppercase;
}
    main h2 {
        text-align: center;
        font-size: 1.25rem;
        letter-spacing: 8px;
    }

    main section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 4rem 0 10rem;
        font-weight: 700;
    }
        section .card {
            display: grid;
            place-items: center;
        }
        .card .numb {
            background: linear-gradient(to bottom, 
                hsl(234, 26%, 21%) 50%, 
                var(--Dark-desaturated-blue) 50%);
            color: var(--Soft-red);

            padding: .75rem 1rem;
            width: 70px;
            /* height: 70px; */
            border-radius: .5rem;
            display: grid;
            place-items: center;
            position: relative;
        }
            .numb::before,
            .numb::after {
                content: '';
                background-color: var(--mostly-black-blue);
                width: .35rem;
                height: .7rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .numb::before { 
                left: 0;
                border-radius: 0 1rem 1rem 0;
            }
            .numb::after {
                right: 0;
                border-radius: 1rem 0 0 1rem;
            }

        .numb span {
            font-size: 2.5rem;
            opacity: 0;
            animation: hideAtStart 1s 1s forwards;
        }
            @keyframes hideAtStart {
                to { opacity: 1; }
            }

        .card p {
            color: var(--Grayish-blue);
            font-size: .5rem;
            letter-spacing: 3px;
            margin-top: 1rem;
        }

footer {
    display: grid;
    place-items: center;
    margin-top: auto;
    padding: .5rem;
}
    footer .links {
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;
    }
        .links .icon:hover {
            cursor: pointer;
        }
        .links .icon svg path {
            transition: fill 300ms ease-in-out;
        }

        .links .icon:hover svg path,
        .links .icon:active svg path,
        .links .icon:target svg path {
            fill: var(--Soft-red);
        }