@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@import './blocks.css';
@import './desktop-view.css';

:root {
    /* colors */
    /* primary */
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 15%, 14%);
    --mostly-black-blue: hsl(235, 18%, 12%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}
@media (min-width: 1440px) {
    html {
        font-size: 17px;
    }
}

.hidden {
    position: absolute;
    left: -100rem;
}