@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;1,700&display=swap');
@import './blocks.css';

:root {
    /* colors */
    /* primary */
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 15%, 14%);
    --mostly-black-blue: hsl(235, 18%, 12%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    min-height: 100vh;
    /* display: flex;    
    flex-direction: column; */
    display: grid;
    place-items: center;
    color: var(--White);
    /* background-color: var(--mostly-black-blue); */
    /* background-image: url('../images/bg-stars.svg'),
                      url('../images/pattern-hills.svg'); */

    /* background: url('../images/bg-stars.svg') center center no-repeat, 
                url('../images/pattern-hills.svg') right bottom no-repeat,
                var(--mostly-black-blue);
                background-size: cover cover; */

    background-image: url('../images/pattern-hills.svg'), 
                      url('../images/bg-stars.svg'), 
                      linear-gradient(to bottom, 
                            var(--mostly-black-blue), 
                            var(--Very-dark-blue),
                            hsl(271, 23%, 18%, 1));
    background-repeat: no-repeat, no-repeat;
    background-position: 87% 95%, top;
    background-size: 250%, auto, auto;
}

.hidden {
    position: absolute;
    left: -100rem;
}